<h2>Por Capital</h2>
<hr>
<!--(onValue)="searchByCapital($event.valueOf())"-->
<div class="row">
  <div class="col">
    <!-- SeachBox-->
    <shared-search-box
      (onDebounce)="searchByCapital($event.valueOf())"
      [initialValue]="initialValue"
      placeholder='Buscar por capital'></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
